<nav class="navbar navbar-default">
	<div class="container container-fluid">
		<div class="navbar-header">
			<a href="#" class="navbar-brand"> Recipe Book</a>
		</div>

		<div class="navbar">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="#" (click)="changeView('recipe')">Recipes</a></li>
				<li><a href="#" (click)="changeView('shopping-list')">Shopping List</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<div  class="dropdown">
						<a (click)="dropdown()" class="dropdown-toggle" data-toggle="dropdown" href="#">Manage <span class="caret"></span></a>
						<ul [ngStyle]="{display : isOpen ? 'block' : 'none'}" class="dropdown-menu" role="menu">
							<li><a href="#">Save Data</a></li>
							<li><a href="#">Fetch Data</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>


